@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #4a4b98;
  color: #fefefe;

}


.main-container {
   /* background-color: #3b2f66;  */
  display: flex;
  border-radius: 3rem;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 4rem;
  margin-top: 1rem;

}
.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.search-input {
  width: 37rem;
  padding: 2rem 1rem;
  height: 3rem;
  border-radius: 3rem;
  border: none;
  box-shadow: 3px 16px 60px 10px rgba(191, 184, 184, 0.2);
  margin: 1rem 0;
  outline: none;
  background-color: #6a6195;
  color: white;
  font-size: 1.5rem;
}

.search-input::placeholder {
  color: rgb(133, 127, 116);
  font-size: 1.3rem;
}

.search-button {
  width: 5rem;
  height: 4rem;
  border-radius: 3rem;
  background-color: #6a6195;
  color: white;
  display: flex;
  align-items: center;
  /* font-size: 1.5rem; */
  justify-content: center;
  border: none;
  outline: none;
  cursor: pointer;
}

.search-button:hover, .search-button:focus {
  background-color: #554986;
  border: none;
  outline: none;
}

.button-icon {
  width: 2rem;
  height: 2rem;
  
}

.error-msg {
  font-size: 2rem;
}


.profile-content {
  display: flex;
flex-direction: column;

}
.profile-img {
  display: flex;
  align-items: center;
  justify-content: center;

}
.profile-avatar {
  width: 7rem;
  height: 7rem;
  border-radius: 100%;

}



.profile-desc {
  display: flex;
  margin: 2rem;
  align-items: center;
  justify-content: center;
}

.profile-name {
  font-size: 1.5rem;
  margin-right: 2rem;
}

.profile-created {
  font-size: 1.2rem;
}

.profile-bio {
  color: #b1a7a7;
  margin: 1rem 0;
  font-size: 1.2rem;
  text-align: center;
}

.profile-status {
  
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  height: auto;
  width: 40rem;
  border-radius: 2.5rem;
  /* background: #4d4374; */
  font-size: 1.2rem;
  text-align: center;
  padding: 1rem;
  box-shadow: 0 16px 30px -10px rgba(0, 0, 0, 0.2);
}
.repo-button {
  color: white;
  font-size: 1.2rem;
  display: inline-flex;
  align-items: center;
  background: #4d4374;
  border-radius: 30px;
  padding: .5rem;
border-color: wheat;
cursor: pointer;


}
.repo-list {
  width: 12rem;
}
.repo-list-item {
  list-style: none;
  display: flex;
  width: 20rem;
 
}
.repo-list-item a {
  text-decoration:none;
  text-align: left;
  padding: 0.5rem;
color: #b1a7a7;
}

.profile-info {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem 0;
}

.profile-location, .profile-company {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}
.profile-link {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 3rem;

}

.profile-url {
  color: white;
  font-size: 1.2rem;
  display: inline-flex;
  align-items: center;
  gap: .5rem;
  background: #4d4374;
  border-radius: 30px;
  padding: 1rem;
  text-decoration: none;

}

.profile-url:hover {
  color: #4d4374;
  background: white;
}
@media (max-width: 480px) {
  .main-container {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
/* .form-container {
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 1rem;
} */
 
.search-input {
 width: 11rem;
 padding: 1rem .5rem;
 height: 2rem;
 font-size: 1rem;
} 

.search-input::placeholder{
  font-size: .75rem;
}
 .search-button {
 width: 3rem;
 height: 2rem;
} 
.button-icon {
  width: 1.5rem;
  height: 1.5rem;
}
.error-msg {
  font-size: 1.5rem;
}

.profile-avatar {
  width: 6rem;
  height: 6rem;

}
.profile-desc {
  margin: 0;
}
.profile-name {
  font-size: 1rem;
  margin-right: .2rem;
}
.profile-created {
  font-size: .5rem;
}
.profile-bio {
  margin: .75rem 0;
  font-size: .75rem;
}
.profile-status {
  /* justify-content:space-around; */
  width: 20rem;
  font-size: .75rem;
  padding: .5rem;
}

.repo-button {
  font-size: .5rem;
  margin: 0.3rem;
}
.repo-list {
  width: 10rem;
}
.profile-location, .profile-company {
  font-size: .75rem;

 }
.profile-link {
  margin: 1rem;
}
 .profile-url {
  font-size: .75rem;
 }
/*




.profile-url {
 color: white;
 font-size: 1.2rem;
 display: inline-flex;
 align-items: center;
 gap: .5rem;
 background: #4d4374;
 border-radius: 30px;
 padding: 1rem;
 text-decoration: none;

}

.profile-url:hover {
 color: #4d4374;
 background: white;
} */

  
}/* @media (min-width: 425px) {
  .main-container {
    width: 80%;
    
  }
  
  .search-input {
    width: 15rem;
    font-size: .7rem;
    padding: 0.3rem;
  }
  .search-input::placeholder {
    font-size: 1rem;
    padding: 0.5rem;
  }

  .search-button {
    width: 2.5rem;
    height: 2.5rem;
  }

  .profile-avatar {
    width: 6rem;
    height: 6rem;
  }

  .profile-status {
    width: 100%;
    margin: 1rem;
    font-size: .5rem;
  }

  .profile-info {
    gap: 1rem;
  }
  
.error-msg {
 font-size: 1rem;
}

.profile-desc {
 display: flex;
 margin: 2rem;
 align-items: center;
 justify-content: center;
}

.profile-name {
 font-size: .75rem;
 margin-left: 1rem;

}

.profile-created {
 font-size: .5rem;
}

.profile-bio {
margin-top: 3rem;
 font-size: .75rem;

}


.repo-button {
 font-size: .3rem;
}


.profile-info {
 display: flex;
 justify-content: space-evenly;
 margin: 2rem 0;
}

.profile-location, .profile-company {
 font-size: .75rem;
}


.profile-url {
 font-size: .75rem;
}


} */

/* @media (min-width: 768px) {
  .main-container {
    width: 80%;
  }
  
  .search-input {
    width: 100%;
    font-size: 2rem;
    padding: 2rem;
  }
  .search-input::placeholder {
    font-size: 1.3rem;
    
  }

  .search-button {
    width: 6rem;
    height: 4rem;
  }

  .profile-avatar {
    width: 10rem;
    height: 10rem;
  }

  .profile-status {
    width: 100%;
    font-size: 1.5rem;
  }


  .profile-info {
    gap: 1rem;
  }
  
.error-msg {
 font-size: 2rem;
}



.profile-name {
 font-size: 1.5rem;
}

.profile-created {
 font-size: 1rem;
}

.profile-bio {
margin: 4rem;
 font-size: 1.5rem;

}


.repo-button {
 font-size: 1rem;
}

.profile-location, .profile-company {
 font-size: 1rem;
}


.profile-url {
 font-size: 1.5rem;
}


} */


 
/* @media (min-width:1440px) {
  .main-container {
    width: 50%;
  }
  
} */
/* @media (max-width:375px) {
  .profile-avatar {
    width: 6rem;
    height: 6rem;
    margin-right: -3rem;
  }

  .profile-name {
    font-size: 1rem;
  }
  .profile-created {
    font-size: .5rem;
  }
  .profile-bio {
    font-size: 1rem;
  }
  
} */


/* @media (max-width: 480px) {
  .main-container {
   
    margin: 1rem;
    padding: 1rem;
    margin-top: 4rem;
  }
  
  .search-input {
    padding: 1rem;
    height: 2.5rem;
    font-size: 1rem;
  }
  .search-input::placeholder {
    font-size: .75rem;
  }

  .search-button {
    width: 3rem;
    height: 2.5rem;
    font-size: 1rem;
  }

  .profile-avatar {
    width: 4rem;
    height: 4rem;
    margin-right: -2rem;
  }

  .profile-name {
    font-size: .7rem;
  }
  .profile-created {
    font-size: .4rem;
  }
  .profile-bio {
    font-size: .5rem;
  }

  .profile-status {
    display: flex;
    width: 20rem;
    height: auto;
    font-size: .75rem;
    margin-left: -2rem;
  }
  .repo-button {
    color: white;
    font-size: .3rem;
  
  }
  .repo-list {
    width: 6rem;
  }
  .repo-list-item {
    list-style: none;
    display: flex;
    width: 7rem;
   
  }

  
  .profile-location ,
  .profile-company {
   font-size: .5rem;
  }
  
  .profile-url {
   font-size: .5rem;
  }
} */




/* @media (max-width: 320px) {
  .profile-status {
  
    width: 16rem;
   
  }
 } */